
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white;
}


body {
  background-image: url("./images/body-bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* ---about us section----- */
.About-girl-Img{
  width: 100%;
}
.about-side-detail{
  width: auto;
  margin-right: 10%;
  padding: 10px;
}
.about-side{
  padding: 0% 5% 0% 5%;
}

.subscribe{
  margin-top: 6%;
  margin-bottom: 6%;
}

.input::placeholder {
  text-align: right;
}
.input{
  width: 70%;
  padding: 4px;
}
.subscribe-btn{
  border: 2px solid black;
  border-radius: none !important;
}
.form-div{
  background-color: rgb(223, 220, 220);
}
/* -----about end---- */

/* ------product------- */
.braclete-img{
  width: 70%;
  float: right;
}
.imgDiv{
  position: relative;
    /* top: -7vw; */
}
.li-img{
  width: 10%;
}
.side-images li{
/* text-decoration: none; */

margin: 2px;
list-style-type: none;
}
.side-images{
  display: inline-block;
}

/* -------location section------ */
.location-head{
  text-align: center;
  margin: 5%;
}
.Detail-user{
  padding: 2%;
}
.Detail-user:hover{
border: 2px solid white;
}
.contact-head{
  text-align: center;
  margin-top: 5%;
}
.form{
  padding: 4% 14% 14% 14%;
}
.send-btn{
  width: inherit;
  padding: 2%;
  color: white;
  background-color: black;
}
.form-input{
  padding: 2%;
  border-radius: none !important;
}
.social-icon{
  width: 4%;
  margin: 1%;
}
/* ---header and footer----- */
.pcarousel {
  color: white;
}



.mini-head {
  background-color: black;
  padding: 0.5%;
}

.logo {
  width: 13vw;
}

.logoftr {
  width: 100%;
}

.nav-inputtype {
  border: none;
  background-color: rgb(56, 56, 56);
  border-radius: 0%;
  padding: 0.8vw;
}

.nav-inputtype1 {
  border: none;
  background-color: rgb(56, 56, 56);
  border-radius: 0%;
  padding: 0.8vw;
}

.nav-search {
  border: 1px solid black;
}

.nav-icon {
  font-size: 1.3vw;
  padding: 1vw;
}


.nav-main {
  background-color: black;
}


.togglebtn {
  color: white;
}

.main-nav {
  background-color: black;
  border-bottom: 1px solid goldenrod;
}

.nav-mobile {
  margin-right: 1vw;
  font-size: 1vw;
}

.nav-location {
  font-size: 1vw;
}

.nav-main-text {
  font-size: 1vw;
}


.footer-text {
  font-size: .9vw;
  margin-bottom: 1vh;
}

.footer-h6 {
  font-size: 1.1vw;
  margin-bottom: 0px;
  margin-top: 10px;
}

.footer-text-icon {
  font-size: 0.9vw;
}

.footer-text-icon i:hover {
  color: blue;
  background-color: rgb(0, 136, 255);
  padding: 2px;
}


.festival-heading-text {
  font-size: 1.3vw;
  color: white;
}

.festival-heading-text:hover {
  font-size: 1.3vw;
  font-weight: bold;

}